* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.contenedor-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.contenido {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem; /* 20px */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.25rem; /* 20px */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; 
    padding: 0.625rem 0.9375rem; 
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 119, 0);
    text-underline-offset: 0.3125rem; 
}

.texto-lado-izquierdo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 1.25rem 3.125rem 3.125rem 3.125rem; 

    padding-top: 6.25rem;  
    padding-left: 3.125rem; 
    padding-bottom: 3.125rem; 

    background-color: rgba(240, 248, 255, 0.062);
    border-radius: 1.25rem; 
}

.texto-lado-izquierdo h1 {
    font-size: clamp(3rem, 8vw, 6.25rem); 
    margin-bottom: 1.25rem; 
}

.texto-lado-izquierdo p {
    font-size: 1.25rem; 
    max-width: 31.25rem; 
    line-height: 1.5;
    text-align: justify;
}